.card__placeholder{
    height: 280px;
    animation: image-loading 1s infinite alternate;

}

@keyframes image-loading {
    0% {
        background-color: hsl(200,20%,80%);
    }
    100%{
        background-color: hsl(200,20%,95%);
    }
}